search:
    model:
        in: %modelDir%
        classes:
            - *Facade
            - *Factory
            - *Router
            - *Manager
        exclude:
            classes:
                # EntityManager and MigrationManager are registered in extensions/nettrine.neon
                - App\Model\Database\EntityManager
                - App\Model\Database\MigrationManager