{block title}
    Příspěvky
{/block title}

{block content}
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
    >
        <h1 class="h2">{include title}</h1>
        <a n:href=":create" class="btn btn-sm btn-outline-primary ajax">+ Nový</a>
    </div>

    <div>
        {control postGrid}
    </div>
{/block}
