parameters:
	database:
		host: localhost
		port: 3306
		dbname: bloggi
		user: bloggi
		password: bloggi
		driver: pdo_mysql

	security:
		hash: argon2id

	common:
		timezone: Europe/Prague

	templating:
		theme: default
		basePath: %rootDir%/templates
