# Services injected into the Dependency-Injection container.

services:
    router: App\Model\Router\RouterFactory::create
    security.passwords: App\Model\Security\Passwords(%security.hash%)
    security.authenticator: App\Model\User\Auth\UserAuthenticator
    templating.helper: App\Templating\TemplateHelper(%templating.theme%, %templating.basePath%) 

search:
    model:
        in: %appDir%/Model
        classes:
            - *Facade
            - *Factory
            - *Router
