parameters:
	modelDir: %appDir%/Model

search:
    in: %setupDir%/Model
    classes:
        - *Manager
        - *Factory
        - *Form

services:
    writer: App\Config\Neon\NeonWriter(%rootDir%/config)
    router: BloggiSetup\Model\Router\SetupRouter::create()
    registerFormFactory: App\Model\Auth\Form\RegisterFormFactory
    databaseConfigManager: BloggiSetup\Model\Database\DatabaseConfigManager(database: %database%)

application:
    errorPresenter: Error:Error
    mapping:
        *: ['BloggiSetup', 'Presenters', '*\*Presenter']

includes:
    - extensions/webpack.neon
    - local.neon