<p class="lead mb-0" n:snippet="rating">
    <a n:href="like!" class="ajax text-white btn btn-sm btn-success">+{$likes}</a>
    <a n:href="dislike!" class="ajax text-white btn btn-sm btn-danger">-{$dislikes}</a>
</p>